.inline-list
  %li
    %h2 Tableau de bord
  %li
    = form_tag sessions_path, method: 'delete' do
      = submit_tag t('.logout'), class: 'tiny button'
  %li
    = link_to t('.edit'), edit_user_path(current_user), class: 'tiny button'
.panel
  %h4
    %a{:name => "menu"} Aller à
  %ul
    - @activites.each do |activite|
      %li= link_to "#{activite.title.capitalize}", "#activite#{activite.id}"

- @activites.each do |activite|
  .panel
    %p.label= "Chapitre : #{activite.chapitre.capitalize}"
    %h3
      = "#{activite.id}. "
      = activite.title.capitalize
    %p.down_title= "↳ #{activite.desc}"
    - activite.questions.each do |qu|
      = form_for :question, url: validation_path do |form|
        = form.hidden_field :question_id, {value: qu.id}
        - if qu.already_valid(current_user)
          %p= qu.desc
          .reponse ↳ | C'est bon !
        - else
          %h4= qu.desc 
          .question= submit_tag "↳ | Valider |"
      %hr 
  %p= link_to "Retour au menu", "#menu"
