.columns
  .panel
    %h4= link_to(ress.title, ress.url)
    %ul.inline-list
      %li.label= ress.tags
      %li= "#{display_level(ress)}".html_safe
      %li= "#{display_lang(ress)}".html_safe
      %li= ress.time.to_s + " min"
    %p= ress.desc