%h1 Changez de mot de passe

= form_tag(reset_password_path(user_id: @user.id), method: 'put') do
  %p
    = label_tag :password
    %br
    = password_field_tag :password

  %p
    = label_tag :password_confirmation
    %br
    = password_field_tag :password_confirmation

  %p
    = submit_tag 'Mettre à jour', class: 'button'
